In [10]:
import os
import pandas as pd
import plotly

In [40]:
def load_etf_dataframe(tickers):   
    df = pd.DataFrame({'Date' : []})
    for etf in os.listdir('raw'):
        if etf.split('_',)[0] in tickers:
            stock_df = pd.read_csv('raw/'+etf, usecols=['Date', 'Close'])
            stock_df[etf.split('_')[0]] = stock_df['Close']
            stock_df = stock_df.drop(columns='Close')
            df = pd.merge(df, stock_df, on = 'Date', how='outer')
            df = df.sort_values('Date')
            df = df.dropna()

    return df

In [42]:
etfs = load_etf_dataframe(['XLB', 'XLE', 'XLF', 'XLI', 'XLP', 'XLU', 'XLV', 'XLY', 'SPY'])
etfs.head()

,Date,XLB,XLE,XLF,XLI,XLP,XLU,XLV,XLY
0,1999-11-02,0.009155,-0.009252,-0.001188,0.012404,-0.019695,-0.009265,-0.012770,-0.007449
1,1999-11-03,-0.001237,-0.005230,-0.004362,-0.006847,0.025830,-0.011690,0.004312,-0.008220
2,1999-11-04,0.012799,-0.016147,0.011947,-0.002903,-0.004396,-0.005069,0.011449,0.012252
3,1999-11-05,-0.002038,-0.024427,0.024400,0.005459,0.007226,0.008492,-0.004599,0.006764
4,1999-11-08,-0.009395,0.037950,-0.005378,0.001448,-0.001196,0.006399,0.001777,-0.003182

In [45]:
etfs.describe()

,XLB,XLE,XLF,XLI,XLP,XLU,XLV,XLY
count,5621.000000,5621.000000,5621.000000,5621.000000,5621.000000,5621.000000,5621.000000,5621.000000
mean,0.000337,0.000355,0.000247,0.000326,0.000246,0.000228,0.000344,0.000421
std,0.015243,0.018534,0.018871,0.013759,0.009762,0.012398,0.011684,0.014123
min,-0.124650,-0.201412,-0.182472,-0.113441,-0.093956,-0.113577,-0.098610,-0.126686
25%,-0.007103,-0.008356,-0.006916,-0.005719,-0.004395,-0.005526,-0.005056,-0.005937
50%,0.000710,0.000473,0.000426,0.000775,0.000437,0.000750,0.000546,0.000850
75%,0.008383,0.009697,0.007871,0.006940,0.005207,0.006466,0.006190,0.007334
max,0.117601,0.200235,0.164005,0.126512,0.091359,0.127934,0.142447,0.116571